.input-form {
  display: flex;
  flex-direction: column;
  width: 63%;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.form-column {
  flex: 1;
  margin: 0 1px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
